<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <form (ngSubmit)="login()">
            <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field>
                    <div class="wrap-input100 validate-input" >
                        <span class="label-input100">userName</span>
						<input matInput class="input100" type="text" name="username">
						<span class="focus-input100"></span>
						
					</div>
					
                </mat-form-field>
                <mat-form-field>
                    <div class="wrap-input100 validate-input" >
                        <span class="label-input100">password</span>
						<input matInput class="input100" type="text" name="password">
						<span class="focus-input100"></span>
						
					</div>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="primary" class="btn-block">Log in</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>